@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --dark-gray-color: #666666;
    --lm-header-color:  #42446E;
    --light-gray-color: #A7A7A7;
    --button-text-color: #018C0F;
    --button-fill-color: #D7FFE0;
    --main-gradient: linear-gradient(#00C0FD, #E70FAA);
    --dm-bg-color: #191919;
    --dm-header-color: #CCCCCC;
    --dm-light-gray: #363636;
    --transition-time: 1s;
}
body {
    box-sizing: border-box;
    font-size: 1.6rem;

}
html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
}